* {
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 500px;
    margin: 0 auto;
}

.wrapper {
    height: 250px;
}

/*Flex properties*/
.flex {
    display: flex;
}

.fl-cl {
    flex-direction: column;
}

.fl-add {
    flex-grow: 1;
}

.fl-d-rev {
    flex-direction: row-reverse;
}

/*Size combination*/
.w_h-100 {
    width: 100%;
    height: 100%;
}

.w-100 {
    width: 100px;
}

.h-100 {
    height: 100%;
}
/*Margins&Paddins*/
.pd {
    padding: 5px;
}

.mg {
    margin: 0 5px 0 5px;
}

.bd {
    border: 1px solid;
}

/*colors*/
.red {
    background-color: red;
}

.green {
    background-color: greenyellow;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}